* {
  font-size:18px;
}

/* Header Styles */
header {
  display:flex;
}

.logo {
  flex:1;
}

.name {
  flex-grow:8;
  text-align:center;
}


nav{
  position:relative;
  flex:1;
}
.navButton {

  text-align:right;
}

nav ul.menu {
  margin:0;
  padding:0;
  list-style:none;
  display:none;
  position:absolute;
  right:0px;
  text-align:right;
}

nav:hover ul {
  display:block;
}
/*end of Header style */

/* Main content style */
main {
  min-height:200px;
  border:1px solid black;
}

/* End of Main content style */

/* footer styles */
footer {
  text-align:center;
  /* background-image:url('../images/tye dye.png'); */
}


/* end of footer styles */
